<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Encryptor</title>
	<link rel="stylesheet" href="/static/css/main.min.css">
</head>
<body class="text-white bg-zinc-950">
	<header class="py-4 px-3 text-center">
		<a href="/" class="text-lg font-bold border-b border-transparent hover:border-inherit focus:border-inherit outline-none transition">Encryptor</a>
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
	<script src="/static/js/main.js"></script>
</body>
</html>